<form *ngIf="reactiveForm.principalForm" [formGroup]="reactiveForm.principalForm" 
     (change) = "reactiveForm.onFormChange()">
    <div>
        <div [ngClass] = "{'dvPrincipalContent': alignContent === 'horizontal',
                'dvPrincipalContent row': alignContent === 'vertical'}">
            <ng-container  *ngFor="let container of containers; let i = index">
                <div [formGroupName]="container.idContainer">
                    <app-container [container]="container" [alignContent]="alignContent"
                        [formGroup]="reactiveForm.getFormGroup(container.idContainer)">
                    </app-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div  class="mb-10 mt-10 text-align-center">
        <button mat-raised-button class="btnPrimary mr-10"> Modificar </button>
        <button mat-raised-button class="btnPrimary ml-10" (click)="close()"><label for="cerrar"> Cerrar </label></button>
    </div>
</form>
