# Ignoring directories from Frontend 
node_modules/
node/

# Both the directory itself and its contents will be ignored from Backend
.metadata/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.nar
*.ear
*.zip
*.tar.gz
*.rar