# Ignoring directories from Frontend 
node_modules/
node/

# Both the directory itself and its contents will be ignored from Backend
.metadata/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.scannerwork/.sonar_lock
.scannerwork/css-bundle/bin/server
.scannerwork/css-bundle/lib/src/server.d.ts
.scannerwork/css-bundle/lib/src/server.js
.scannerwork/css-bundle/lib/src/server.js.map
.scannerwork/css-bundle/lib/tsconfig.tsbuildinfo
.scannerwork/css-bundle/package/package.json
.scannerwork/css-bundle/package/yarn.lock
.scannerwork/css-bundle/stylelintconfig.json
.scannerwork/report-task.txt
.scannerwork/scanner-report/syntax-highlightings-97.pb
.scannerwork/.sonartmp/eslint-bridge-bundle/package/bin/server
*.js
*.map
*.tsbuildinfo
*.json
*.pb
SuperGO-FrontEnd/.scannerwork/.sonar_lock
SuperGO-FrontEnd/.scannerwork/css-bundle/bin/server
*.lock
*.txt
SuperGO-FrontEnd/src/.scannerwork/.sonar_lock
SuperGO-FrontEnd/src/.scannerwork/css-bundle/bin/server
SuperGO-FrontEnd/.scannerwork/css-bundle/lib/src/server.d.ts
SuperGO-FrontEnd/src/.scannerwork/css-bundle/lib/src/server.d.ts
