mi catalogo 
fdgtdftr

<form *ngIf="reactiveForm.principalForm" [formGroup]="reactiveForm.principalForm" 
    (ngSubmit)="onSubmit()" (change) = "reactiveForm.onFormChange()">
    <div>
        <div [ngClass] = "{'dvPrincipalContent': alignContent === 'horizontal',
                'dvPrincipalContent row': alignContent === 'vertical'}">
            <ng-container  *ngFor="let container of containers; let i = index">
                <div [formGroupName]="container.idContainer">
                    <app-container [container]="container" [alignContent]="alignContent"
                        [formGroup]="reactiveForm.getFormGroup(container.idContainer)">
                    </app-container>
                </div>
            </ng-container>
        </div>
    </div>
</form>