<br/>
<br/>
<br/>
<footer>
  <div class="footer">
    <div class="coloredContainerX box" fxflex="" fxlayout="row" fxlayout.sm="column" fxlayout.xs="column"
      style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;">
      <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
        <strong>{{fechaHora[0]}}/{{fechaHora[1]}}/{{fechaHora[2]}}
          <span>{{fechaHora[3]}}:{{fechaHora[4]}}Hrs. | </span></strong>{{ version }}
      </div>
    </div>
  </div>
</footer>