<div class="error-wrapper">
    <div class="error-container">
        <div class="error">
            <div class="error-title">
                <a [routerLink]="['/']">
                    <img src="assets/image/logo.svg" id="imgLogo" alt="" width="40%" height="40%">
                </a>
                <br/>
                <br/>
                :^( <br/> <br/> Oops!
                <br/><br/>
                <h2>
                    Temporalmente fuera de servicio por mantenimiento
                </h2>
                <h1>
                    ¡Estaremos de vuelta pronto!
                </h1>
            </div>

            <div class="error-description">
                <p>
                    Disculpe las molestias, pero estamos realizando algunas tareas de mantenimiento en este momento.
                    ¡Volveremos a estar en línea en breve!
                </p>
                <p>    — Equipo de Grupo Salinas.</p>
            </div>
            <div class="error-or"></div>
            <div class="error-textbox">
                <button mat-raised-button mat-stroked-button [routerLink]="['/']" style="margin-top: 10px;"><span>
                    class="glyphicon glyphicon-home">
                </span>Llévame a inicio</button>
            </div>
            <div class="error-or"></div>


        </div>
    </div>
</div>