.reactiveInput
    position: absolute
    top: 50%
    font-size: 13px
    transform: translateY(-50%)
    left: 0px


::ng-deep 
    .mat-form-field-prefix
        position: initial !important
        transform: translateY(-50%) !important
    .mat-form-field-suffix     
        position: initial !important
        transform: translateY(-50%) !important

    .mat-slide-toggle
        margin-left:40 px

    .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb 
        background-color: #6E18B8

    .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar 
        background-color: #7F00FF

    .mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element 
        background-color: #7F00FF
    
    .mat-slide-toggle-content
        font-size:13px
        color: #585858
        margin-top:60 px
    
    
        
        
      
