<div class="scrollable">
    <div>
      <table mat-table [dataSource]="dataSource" matSort>
        <caption></caption>
        <ng-container matColumnDef="descripcionTipoOperacion">
            <th mat-header-cell *matHeaderCellDef id=""> DESCRIPCIÓN </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionTipoOperacion}} </td>
        </ng-container>
      
        <ng-container matColumnDef="idCanal">
            <th mat-header-cell *matHeaderCellDef class="te" id=""> CANAL </th>
            <td mat-cell *matCellDef="let element"> {{element.idCanal}} </td>
        </ng-container>
      
      
        <ng-container matColumnDef="topicoKafka">
            <th mat-header-cell *matHeaderCellDef id=""> TOPÍCO KAFKA </th>
            <td mat-cell *matCellDef="let element"> {{element.topicoKafka}} </td>
        </ng-container>
      
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef id=""> ESTATUS </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
      
      
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef scope="col"> VER </th>
            <td mat-cell *matCellDef="let element" id="icons" (click)="show(element)" style="cursor: pointer;">
              <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Detalle" matTooltipPosition="below">
                visibility 
              </mat-icon>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="options2">
          
          <th mat-header-cell *matHeaderCellDef class="head" scope="col"> EDITAR </th>
       
          <td mat-cell *matCellDef="let element" id="icons" (click)="open(element)" style="cursor: pointer;">
              <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Detalle" matTooltipPosition="below">
                edit 
              </mat-icon>
            </td>
      </ng-container>
      
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="displayedColumns.length">No se encontraron registros.</td>
          </tr>
  
      </table>
    </div>
      <div class="paginator">
              <mat-paginator [length]="totalRows" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                   showFirstLastButtons></mat-paginator>
      </div>
  </div>
  
  
