<app-progress [overlay]="showLoad"></app-progress>
<form *ngIf="reactiveForm.principalForm" [formGroup]="reactiveForm.principalForm" 
     (change) = "reactiveForm.onFormChange()">
    <div>
        <div [ngClass] = "{'dvPrincipalContent': alignContent === 'horizontal',
                'dvPrincipalContent row': alignContent === 'vertical'}">
            <ng-container  *ngFor="let container of containers; let i = index">
                <div [formGroupName]="container.idContainer">
                    <app-container [container]="container" [alignContent]="alignContent"
                        [formGroup]="reactiveForm.getFormGroup(container.idContainer)"
                        (onChangeDropDown)="onChangeCatsPetition($event)">
                    </app-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div  class="mb-10 mt-10 text-align-center btns-update-style">
        <button mat-raised-button class="btnPrimary btnSize" type="submit" (click)="update()"> MODIFICAR </button>
        <button mat-raised-button class="btnPrimary btnSize" (click)="close()"> CERRAR </button>
    </div>
</form>
