<mat-tab-group class="mat-group-style">
    <mat-tab label="NUEVA CONTABILIDAD">
        <form *ngIf="reactiveForm.principalForm" [formGroup]="reactiveForm.principalForm" 
        (ngSubmit)="onSubmit(reactiveForm.principalForm.value)" (change)="reactiveForm.onFormChange()">
            <div>
                <div [ngClass] = "{'dvPrincipalContent': alignContent === 'horizontal',
                        'dvPrincipalContent row': alignContent === 'vertical'}">
                    <ng-container  *ngFor="let container of containers; let i = index">
                        <div [formGroupName]="container.idContainer">
                            <app-container [container]="container" [alignContent]="alignContent"
                                [formGroup]="reactiveForm.getFormGroup(container.idContainer)"
                                (onChangeDropDown)="onChangeDropDown($event)">
                            </app-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="mt-20 text-center">
                <button mat-raised-button class="btnPrimary btnSize" type="submit"> AGREGAR </button>
            </div>
        </form>
    </mat-tab>
<mat-tab label="REGISTROS CONTABILIDAD">
    <div class="mat-tables-style">
        <app-accounting-tables [dataInfo]="dataInfo"></app-accounting-tables>
    </div>
</mat-tab>

</mat-tab-group>
