<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="razonSocial">
        <th mat-header-cell *matHeaderCellDef> Razon Social </th>
        <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
    </ng-container>

    <ng-container matColumnDef="rfc">
        <th mat-header-cell *matHeaderCellDef> RFC </th>
        <td mat-cell *matCellDef="let element"> {{element.rfc}} </td>
    </ng-container>

    <ng-container matColumnDef="tipoDeSociedad">
        <th mat-header-cell *matHeaderCellDef> Tipo de Sociedad </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoDeSociedad}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef class="head" scope="col"> Opciones </th>
        <td mat-cell *matCellDef="let element" id="icons" (click)="eliminar(element)">
          <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Detalle" matTooltipPosition="below">
             delete 
          </mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    
</table>
<div class="paginator">
    <mat-paginator [length]="totalRows" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons></mat-paginator>
</div> 
