<mat-tab-group style="margin: 0 2%;">
    <mat-tab label="Nueva Regla">
        <form *ngIf="reactiveForm.principalForm" [formGroup]="reactiveForm.principalForm" 
            (ngSubmit)="onSubmit(reactiveForm.principalForm.value)" (change)="reactiveForm.onFormChange()"
            style="margin: 3% 0;">
            <div>
                <div [ngClass] = "{'dvPrincipalContent': alignContent === 'horizontal',
                        'dvPrincipalContent row': alignContent === 'vertical'}">
                    <ng-container  *ngFor="let container of containers; let i = index">
                        <div [formGroupName]="container.idContainer">
                            <app-container [container]="container" [alignContent]="alignContent"
                                [formGroup]="reactiveForm.getFormGroup(container.idContainer)"
                                (onChangeDropDown)="onChangeCatsPetition($event)">
                            </app-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="mt-20 text-center">
                <button mat-raised-button class="btnPrimary btnSize" type="submit"> Agregar </button>
            </div>
        </form>
    </mat-tab>

    <mat-tab label="Registros Reglas de Monetización">
        <div style="margin: 3% 0;">
            <app-monetization-table [dataInfo]="dataInfo"></app-monetization-table>
        </div>
    </mat-tab>
    
  </mat-tab-group>
  


