<form *ngIf="reactiveForm.principalForm" [formGroup]="reactiveForm.principalForm" 
    (ngSubmit)="onSubmit()" (change) = "reactiveForm.onFormChange()">
    <div>
        <div [ngClass] = "{'dvPrincipalContent': alignContent === 'horizontal',
                'dvPrincipalContent row': alignContent === 'vertical'}">
            <ng-container  *ngFor="let container of containers; let i = index">
                <div [formGroupName]="container.idContainer">
                    <app-container [container]="container" [alignContent]="alignContent"
                        [formGroup]="reactiveForm.getFormGroup(container.idContainer)"
                        (onChangeDropDown)="onChangeCatsPetition($event)">
                    </app-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div style="text-align: center;" class="mb-10">
        <input type="submit" class="btnPrimary" name="submit" value="Agregar"  style="margin-left: 67px;" >
    </div>
</form>
<div>
  <app-monetization-table [dataInfo]="dataInfo"></app-monetization-table>
</div>