<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="sociedad">
        <th mat-header-cell *matHeaderCellDef > SOCIEDAD </th>
        <td mat-cell *matCellDef="let element"> {{element.sociedad}} </td>
    </ng-container>

    <ng-container matColumnDef="operacion">
        <th mat-header-cell *matHeaderCellDef class="te"> OPERACION </th>
        <td mat-cell *matCellDef="let element"> {{element.operacion}} </td>
    </ng-container>


    <ng-container matColumnDef="subOperacion">
        <th mat-header-cell *matHeaderCellDef > SUB OPERACION </th>
        <td mat-cell *matCellDef="let element"> {{element.subOperacion}} </td>
    </ng-container>

    <ng-container matColumnDef="monetizacion">
        <th mat-header-cell *matHeaderCellDef > MONETIZACION </th>
        <td mat-cell *matCellDef="let element"> {{element.monetizacion}} </td>
    </ng-container>

    <ng-container matColumnDef="contabilidadDiaria">
        <th mat-header-cell *matHeaderCellDef > CONTABILIDAD DIARIA </th>
        <td mat-cell *matCellDef="let element"> {{element.contabilidadDiaria}} </td>
    </ng-container>

    <ng-container matColumnDef="numeroDeApunte">
        <th mat-header-cell *matHeaderCellDef > NÚMERO DE APUNTE </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroDeApunte}} </td>
    </ng-container>
    
    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef scope="col"> Ver </th>
        <td mat-cell *matCellDef="let element" id="icons" (click)="show(element)">
          <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Detalle" matTooltipPosition="below">
            visibility 
          </mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="options2">
      
      <th mat-header-cell *matHeaderCellDef class="head" scope="col"> Editar </th>
   
      <td mat-cell *matCellDef="let element" id="icons" (click)="update(element)">
          <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Detalle" matTooltipPosition="below">
            edit 
          </mat-icon>
        </td>
  </ng-container>

    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    
</table>
<div class="paginator">
    <mat-paginator [length]="totalRows" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons></mat-paginator>
</div> 
