<app-progress [overlay]="showLoad"></app-progress>
<div class="scrollable">
    <div>
      <table mat-table [dataSource]="dataSource" matSort>
        <caption></caption>
        <ng-container matColumnDef="razonSocial">
            <th mat-header-cell *matHeaderCellDef id=""> SOCIEDAD </th>
            <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
        </ng-container>
    
        <ng-container matColumnDef="descripcionTipo">
            <th mat-header-cell *matHeaderCellDef class="te" id=""> OPERACION </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionTipo}} </td>
        </ng-container>
    
    
        <ng-container matColumnDef="descripcionSubtipo">
            <th mat-header-cell *matHeaderCellDef id=""> SUB-OPERACION </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionSubtipo}} </td>
        </ng-container>

        <ng-container matColumnDef="idReglaMonetizacion">
          <th mat-header-cell *matHeaderCellDef id=""> MONETIZACION </th>
          <td mat-cell *matCellDef="let element"> {{element.idReglaMonetizacion}} </td>
        </ng-container>
     
        <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell *matHeaderCellDef id=""> FECHA INICIO VIGENCIA </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
        </ng-container>
    
        <ng-container matColumnDef="fechaFin">
          <th mat-header-cell *matHeaderCellDef id=""> FECHA FIN VIGENCIA </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
        </ng-container>
    
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef scope="col"> VER </th>
            <td mat-cell *matCellDef="let element" id="icons" (click)="show(element)" onKeyDown="show(element);" style="cursor: pointer;">
              <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Detalle" matTooltipPosition="below">
                visibility 
              </mat-icon>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="options2">
          
          <th mat-header-cell *matHeaderCellDef class="head" scope="col"> EDITAR </th>
       
          <td mat-cell *matCellDef="let element" id="icons"  (click)="open(element)" onKeyDown="show(element);" style="cursor: pointer;">
              <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Detalle" matTooltipPosition="below">
                edit 
              </mat-icon>
            </td>
      </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="displayedColumns.length">No se encontraron registros.</td>
          </tr>
  
      </table>
    </div>
      <div class="paginator">
              <mat-paginator [length]="totalRows" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                   showFirstLastButtons></mat-paginator>
      </div>
  </div>
  

