<div class="scrollable">
  <!-- <button *ngIf="dataSource" mat-raised-button class="btnDownload" (click)="createReport()" style="display:block; margin: 0% 5% 1% auto;">
    <mat-icon>download</mat-icon> Descargar Reporte
  </button> -->
    <div>
      <mat-form-field appearance="standard" style="display:block; margin: 0% 3% 0% auto; width: 25%;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
        <caption></caption>

        <ng-container matColumnDef="idProveedorSAP">
          <th mat-header-cell *matHeaderCellDef id="" mat-sort-header="idProveedorSAP"> ID PROVEEDOR SAP </th>
          <td mat-cell *matCellDef="let element"> {{element.idProveedorSAP}} </td>
        </ng-container>

        <ng-container matColumnDef="razonSocial">
            <th mat-header-cell *matHeaderCellDef id="" mat-sort-header="razonSocial"> RAZON SOCIAL </th>
            <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
        </ng-container>

        <ng-container matColumnDef="rfc">
            <th mat-header-cell *matHeaderCellDef id="" mat-sort-header="rfc"> RFC </th>
            <td mat-cell *matCellDef="let element"> {{element.rfc}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcionTipo">
            <th mat-header-cell *matHeaderCellDef id="" mat-sort-header="descripcionTipo"> TIPO DE SOCIEDAD </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionTipo}} </td>
        </ng-container>

        <ng-container matColumnDef="codigoPostal">
          <th mat-header-cell *matHeaderCellDef id="" mat-sort-header="codigoPostal"> CODIGO POSTAL </th>
          <td mat-cell *matCellDef="let element"> {{element.codigoPostal}} </td>
      </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef id="" mat-sort-header="usuario"> USR. MODIFICO </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef id="" mat-sort-header="fecha"> FECHA MODIFICACION </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef scope="col"> VER </th>
            <td mat-cell *matCellDef="let element" id="icons" (click)="show(element)" onKeyDown="show(element);"
            style="cursor: pointer;">
              <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Detalle"
              matTooltipPosition="below">
                visibility
              </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="options2">
          <th mat-header-cell *matHeaderCellDef class="head" scope="col"> EDITAR </th>
          <td mat-cell *matCellDef="let element" id="icons" (click)="open(element)" onKeyDown="open(element);"
          style="cursor: pointer;">
              <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Detalle"
              matTooltipPosition="below">
                edit
              </mat-icon>
            </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="displayedColumns.length">No se encontraron registros.</td>
          </tr>

      </table>
    </div>
      <div class="paginator">
              <mat-paginator [length]="totalRows" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                   showFirstLastButtons></mat-paginator>
      </div>

      <button *ngIf="dataSource" mat-raised-button class="btnDownload" (click)="createReportTXT()" style="display:block; margin: 1% 3% 1% auto;">
        <mat-icon>download</mat-icon> Descargar Reporte
      </button>

  </div>


